<section class="header-section row">
  <div class="col">
    <div class="container">
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
          <img
            src="assets/images/food-hub.png"
            alt="Food Hub"
            height="42"
            class="d-inline-block align-text-top"
          />
          Food Hub
        </a>

        <ul class="list-inline">
          <li class="list-inline-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/auth/sign-up']"
              >Sign Up</a
            >
          </li>
          <li class="list-inline-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/auth/sign-in']"
              >Sign In</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
