<section class="section">
  <mat-card class="tile-card">
    <mat-card-content>
      <div class="text-center">
        <h3>Sign Up</h3>
      </div>
      <div class="sign-up-form row">
        <form [formGroup]="form">
          <div class="row">
            <mat-form-field class="col-md-6 col-xs-12">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field class="col-md-6 col-xs-12">
              <mat-label>Select a DOB</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-6 col-xs-12">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>

            <mat-form-field class="col-md-6 col-xs-12">
              <mat-label>Office Email</mat-label>
              <input matInput formControlName="officeEmail" />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-6 col-xs-12">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" />
            </mat-form-field>

            <mat-form-field class="col-md-6 col-xs-12">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="confirmPassword" />
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Sign Up</button>

              <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              Already have an account?
              <a
                class="text-primary"
                [routerLink]="['/auth/sign-in']"
                routerLinkActive="router-link-active"
                >Sign In</a
              >
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</section>
