<mat-stepper #stepper>
  <mat-step [stepControl]="customizations">
    <form [formGroup]="customizations | formGroup">
      <div class="row">
        <div class="col-12">
          <h4 class="my-0">Choose from variant</h4>
          <p>Select any 1</p>
        </div>
      </div>

      <div *ngIf="menuItem" class="row">
        <div class="col-12 bg-white rounded-3 p-3">
          <table class="table table-borderless">
            <tbody>
              <ng-container
                *ngFor="
                  let customization of menuItem.customizations;
                  let i = index
                "
              >
                <tr class="row">
                  <th class="col-1" scope="row">
                    <img
                      class="img-thumbnail border-0"
                      [src]="'assets/icons/' + menuItem.category + '.png'"
                    />
                  </th>
                  <th class="col-6" scope="row">
                    {{ customization['title'] }}
                    <br />
                    ({{ customization['quantity'] | titlecase }})
                  </th>
                  <td class="col text-end">
                    {{ customization['price'] | currency : 'INR' }}
                  </td>
                  <td class="col text-end">
                    <input
                      type="radio"
                      name="selected"
                      (change)="onCustomizationChanged(i)"
                    />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12 my-5 bg-white p-3">
          <div class="row align-items-center">
            <div class="col-5 fw-bold">STEP 1/2</div>
            <div class="col-7">
              <button
                mat-button
                matStepperNext
                class="w-100 btn btn-success"
                [disabled]="customizations.invalid"
                (click)="onNext()"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addOns">
    <div class="row">
      <div class="col-12">
        <h4 class="my-0">Choose From Soft Drink for</h4>
        <p>Select upto {{ menuItem?.maxAddOn }}</p>
      </div>
    </div>

    <div *ngIf="menuItem" class="row">
      <div class="col-12 bg-white rounded-3 p-3">
        <table class="table table-borderless">
          <tbody>
            <tr
              *ngFor="let addOn of menuItem.addOns; let i = index"
              class="row"
            >
              <th class="col-6" scope="row">
                {{ addOn.title }}
              </th>
              <td class="col text-end">
                {{ addOn.price | currency : 'INR' }}
              </td>
              <td class="col text-end">
                <input
                  type="checkbox"
                  name="selected"
                  [checked]="addOn.selected"
                  (change)="onAddOnsChanged(i, $event)"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12 my-5 bg-white p-3">
        <div class="row align-items-center">
          <div class="col-5">
            <div class="input-group">
              <span class="input-group-text" (click)="onChangeQuantity(-1)"
                >-</span
              >
              <input
                readonly
                type="number"
                class="form-control"
                [formControl]="totalQuantity | formControl"
                [value]="menuItem?.['totalQuantity']"
              />
              <span class="input-group-text" (click)="onChangeQuantity(1)"
                >+</span
              >
            </div>
          </div>
          <div class="col-7">
            <button
              mat-button
              matStepperNext
              class="w-100 btn btn-success"
              [disabled]="addOns.invalid || totalQuantity.invalid"
              (click)="onAddItem()"
            >
              Add Item
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-step>
</mat-stepper>
