<section *ngIf="menuItem$ | async as menuItem" class="variations-section">
  <div class="row">
    <div class="col-8 my-3">
      <p *ngIf="!selectedVariation" class="text-secondary">
        {{ menuItem.title }} {{ menuItem.price | currency : 'INR' }} -
        {{ menuItem.price * 3.5 | currency : 'INR' }}
      </p>
      <p *ngIf="selectedVariation" class="text-secondary">
        {{ selectedVariation.title }}
        {{ selectedVariation.price | currency : 'INR' }}
      </p>
      <h2 class="my-0">Customize as per your taste</h2>
    </div>
    <div class="col-4 text-end">
      <button
        type="button"
        class="bg-transparent border-0 close"
        aria-label="Back"
        (click)="onBack(menuItem.category)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div *ngIf="selectedVariation" class="row">
    <div class="col rounded bg-white">
      <p class="p-3 my-0 text-secondary">
        {{ selectedVariation.title }} ({{ selectedVariation.quantity }})<span
          class="ms-3 text-primary"
          (click)="onPrevious()"
          >Change</span
        >
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <app-variation-form
    [menuItem]="menuItem"
    [customizations]="form.controls['customizations']"
    [addOns]="form.controls['addOns']"
    [totalQuantity]="form.controls['totalQuantity']"
    (addItem)="onAddItem($event)"
    (variationSelected)="onVariationSelected()"
    (totalQuantityChanged)="onTotalQuantityChanged($event)"
  ></app-variation-form>
</section>
